.DS_Store
/.build
/Packages
/scripts/.work
/scripts/__pycache__
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Package.swift
